@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

html,
body {
  background-color: #ffffff;
  text-align: center;
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
  min-width: 320px;
  margin: 0;
}

header {
  font-size: 2em;
  font-weight: bold;
  margin: 0px;
}

#logo {
  float: left;
  color: #FFFFFF;
  margin-top: 7px;
  margin-left: 7px;    
}

#header-img {
  margin-top:5px;
}

#product-title {
  margin-left: 7px;
}

/* Nav bar styles */
#nav-bar {
  font-size: 1em;
  top: 0px;
  width: 100%;
  background-color: #333333;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;    
}

li {
  float: right;
  font-size: 0.7em;
}

li a {
  display: block;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  padding: 14px 16px;
}

li a:hover {
  background-color: #587de4;
}

section {
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content-container {
  width: 60%;
}

.content-title {
  font-size: 1.2em;
  font-weight: bold;
}

#about-me {
  background-color: #263859;
  color: #FFFFFF;
}

#my-video {
  background-color: #6B778D;
  color: #FFFFFF;  
}

#pricing {

}

#pricing-container {
  height: 200px;
  display: flex;
  justify-content: space-evenly;
  font-size: 1.4em;
}

#pricing-box-1 {
  border: 2px dashed black;
  width: 40%;
  height: 80%;
}

#pricing-part-time {
  text-align: center;
  vertical-align: middle;
  line-height: 150px;  
}

#pricing-full-time {
  text-align: center;
  vertical-align: middle;
  line-height: 150px;
}

#pricing-box-2 {
  border: 2px dashed black;
  width: 40%;
  height: 80%;
}

#contact {
  background-color: #FF6768;
  color: #FFFFFF;
}

.input-field {
  height: 20px;
  width: 200px;
  padding: 2px;
  margin: 0px;
  border: 1px solid #c0c0c0;
  border-radius: 2px;
}


#submit {
  background-color: #59ace0;
  border-radius: 4px;
  color: white;
  font-size: 1em;
  height: 40px;  
  margin: 10px;
  border: 0px solid;
}

@media screen and (max-width: 833px) {

}

@media screen and (max-width: 520px) {
  
  #logo {
    float: none;
  }

  li {
    float: none;
  }

  #pricing-part-time {
    line-height: 40px;
  }

  #pricing-full-time {
    line-height: 40px;
  }
}

#scroll {
  position:fixed;
  right:10px;
  bottom:10px;
  cursor:pointer;
  width:50px;
  height:50px;
  background-color:#3498db;
  text-indent:-9999px;
  display:none;
  -webkit-border-radius:60px;
  -moz-border-radius:60px;
  border-radius:60px
}
#scroll span {
  position:absolute;
  top:50%;
  left:50%;
  margin-left:-8px;
  margin-top:-12px;
  height:0;
  width:0;
  border:8px solid transparent;
  border-bottom-color:#ffffff;
}
#scroll:hover {
  background-color:#e74c3c;
  opacity:1;filter:"alpha(opacity=100)";
  -ms-filter:"alpha(opacity=100)";
}